# Time between Last Fire and Debris flow

- calculate the time between events to include as a feature
    - could be a good parameter for the model and for users in the final data product
- also desire to calculate the NUMBER of fires in the site

In [5]:
import os
import pandas as pd
import geopandas as gpd

In [6]:
df = modelDataI=gpd.read_parquet("../../data/staley16_observations_catchment_fuelpars_rocktype_randn_v3.parquet")
print('raw data -',df.shape)

df=df.dropna()
print('after nulls removed -',df.shape)

raw data - (1550, 44)
after nulls removed - (1089, 44)

In [7]:
df

,fire_name,year,fire_id,fire_segid,database,state,response,stormdate,gaugedist_m,stormstart,...,dom,Fine fuel load,SAV,Packing ratio,Extinction moisture content,Igneous,Metamorphic,Sedimentary,Unconsolidated,domrt
0,Buckweed,2007,bck,bck_1035,Training,CA,0,22,1998.670000,2008-01-21 16:27:00,...,GS2,1.808258,1818.146903,0.002187,15.000000,0.0,1.000000,0.000000,0.0,Metamorphic
1,Buckweed,2007,bck,bck_1090,Training,CA,0,22,2368.930000,2008-01-21 16:27:00,...,GR2,1.384151,1821.989060,0.001839,15.000000,0.0,1.000000,0.000000,0.0,Metamorphic
2,Buckweed,2007,bck,bck_1570,Training,CA,0,22,3956.740000,2008-01-21 16:27:00,...,GR2,1.599649,1816.939332,0.002439,15.099213,0.0,0.973247,0.026753,0.0,Metamorphic
3,Buckweed,2007,bck,bck_235,Training,CA,0,22,1734.720000,2008-01-21 15:47:00,...,GS2,1.775339,1817.801690,0.002657,15.093254,0.0,1.000000,0.000000,0.0,Metamorphic
4,Buckweed,2007,bck,bck_363,Training,CA,0,22,1801.040000,2008-01-21 15:47:00,...,GS2,1.847506,1816.320840,0.002579,15.092942,0.0,1.000000,0.000000,0.0,Metamorphic
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1530,Wallow,2011,wlw,wlw_45357,Test,AZ,0,11,67.548691,2011-07-11 14:45:00,...,TL3,1.699513,1651.711521,0.016765,20.687914,1.0,0.000000,0.000000,0.0,Igneous
1534,Wallow,2011,wlw,wlw_45553,Test,AZ,0,11,143.436916,2011-07-11 14:45:00,...,GS1,1.595921,1732.890570,0.009570,17.115654,1.0,0.000000,0.000000,0.0,Igneous
1538,Wallow,2011,wlw,wlw_46217,Test,AZ,1,11,955.156247,2011-07-11 14:45:00,...,TL3,1.716649,1651.338578,0.014020,19.236014,1.0,0.000000,0.000000,0.0,Igneous
1542,Wallow,2011,wlw,wlw_47409,Test,AZ,1,11,2706.250000,2011-07-11 14:45:00,...,TL3,0.985050,1616.534444,0.018070,19.422728,1.0,0.000000,0.000000,0.0,Igneous
1546,Wallow,2011,wlw,wlw_47535,Test,AZ,0,11,2891.750000,2011-07-11 14:45:00,...,GS1,1.831648,1709.367304,0.012261,18.278098,1.0,0.000000,0.000000,0.0,Igneous

In [8]:
for col in sorted(df.columns):
    print(col)

Extinction moisture content
Fine fuel load
GR
GS
Igneous
Metamorphic
NB
Packing ratio
SAV
SH
Sedimentary
SiteID
TL
TU
Unconsolidated
acc015_mm
acc030_mm
acc060_mm
contributingarea_km2
database
dnbr1000
dom
domrt
fire_id
fire_name
fire_segid
gaugedist_m
geom
kf
lat
lon
peak_i15_mmh
peak_i30_mmh
peak_i60_mmh
prophm23
response
state
stormaccum_mm
stormavgi_mmh
stormdate
stormdur_h
stormend
stormstart
year

In [14]:
cols = [
    'year', # year of wildfire
    'stormdate', # date of storm that produced DF
    'stormstart',
    'stormend',
]

df[cols]

      year  stormdate          stormstart            stormend
0     2007         22 2008-01-21 16:27:00 2008-01-22 19:20:00
1     2007         22 2008-01-21 16:27:00 2008-01-22 19:20:00
2     2007         22 2008-01-21 16:27:00 2008-01-22 19:20:00
3     2007         22 2008-01-21 15:47:00 2008-01-22 19:39:00
4     2007         22 2008-01-21 15:47:00 2008-01-22 19:39:00
...    ...        ...                 ...                 ...
1530  2011         11 2011-07-11 14:45:00 2011-07-11 16:15:00
1534  2011         11 2011-07-11 14:45:00 2011-07-11 16:15:00
1538  2011         11 2011-07-11 14:45:00 2011-07-11 16:15:00
1542  2011         11 2011-07-11 14:45:00 2011-07-11 16:15:00
1546  2011         11 2011-07-11 14:45:00 2011-07-11 16:15:00

[1089 rows x 4 columns]

In [23]:
import datetime as dt

In [22]:
colz = [
    'Year', # year of wildfire
    'StormDate', # date of storm that produced DF
    'StormStart',
    'StormEnd',
]

raw = pd.read_csv("../../data/ofr20161106-na-omit.csv")
raw[colz]

      Year            StormDate           StormStart             StormEnd
0     2007  2008-01-22 00:00:00  2008-01-21 16:27:00  2008-01-22 19:20:00
1     2007  2008-01-22 00:00:00  2008-01-21 16:27:00  2008-01-22 19:20:00
2     2007  2008-01-22 00:00:00  2008-01-21 16:27:00  2008-01-22 19:20:00
3     2007  2008-01-22 00:00:00  2008-01-21 15:47:00  2008-01-22 19:39:00
4     2007  2008-01-22 00:00:00  2008-01-21 15:47:00  2008-01-22 19:39:00
...    ...                  ...                  ...                  ...
1086  2011  2011-07-11 00:00:00  2011-07-11 14:45:00  2011-07-11 16:15:00
1087  2011  2011-07-11 00:00:00  2011-07-11 14:45:00  2011-07-11 16:15:00
1088  2011  2011-07-11 00:00:00  2011-07-11 14:45:00  2011-07-11 16:15:00
1089  2011  2011-07-11 00:00:00  2011-07-11 14:45:00  2011-07-11 16:15:00
1090  2011  2011-07-11 00:00:00  2011-07-11 14:45:00  2011-07-11 16:15:00

[1091 rows x 4 columns]

In [36]:
raw['years_btwn_event'] = pd.to_datetime(raw['StormEnd']).dt.year - raw['Year']
raw

,Fire Name,Year,Fire_ID,Fire_SegID,Database,State,UTM_Zone,UTM_X,UTM_Y,Response,...,Peak_I30_mm/h,Peak_I60_mm/h,ContributingArea_km2,PropHM23,dNBR/1000,KF,Acc015_mm,Acc030_mm,Acc060_mm,years_btwn_event
0,Buckweed,2007,bck,bck_1035,Training,CA,11,368133.5165,3823231.989,0,...,2.0,2.0,0.378767,0.217933,0.297853,0.250000,0.80,1.0,2.0,1
1,Buckweed,2007,bck,bck_1090,Training,CA,11,367871.0165,3822984.489,0,...,2.0,2.0,0.689615,0.061249,0.224896,0.250000,0.80,1.0,2.0,1
2,Buckweed,2007,bck,bck_1570,Training,CA,11,367503.5165,3821741.989,0,...,2.0,2.0,2.757312,0.042968,0.065537,0.248541,0.80,1.0,2.0,1
3,Buckweed,2007,bck,bck_235,Training,CA,11,371108.5165,3824991.989,0,...,1.2,0.8,0.613415,0.092164,0.141711,0.250000,0.40,0.6,0.8,1
4,Buckweed,2007,bck,bck_363,Training,CA,11,370763.5165,3824576.989,0,...,1.2,0.8,0.538875,0.058353,0.210158,0.250000,0.40,0.6,0.8,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1086,Wallow,2011,wlw,wlw_45357,Test,AZ,12,660343.3581,3727458.835,0,...,54.0,39.0,1.819213,0.066777,0.373291,0.000000,15.75,27.0,39.0,0
1087,Wallow,2011,wlw,wlw_45553,Test,AZ,12,660408.3581,3727358.835,0,...,54.0,39.0,2.325559,0.115890,0.604177,0.000000,15.75,27.0,39.0,0
1088,Wallow,2011,wlw,wlw_46217,Test,AZ,12,661118.3581,3727658.835,1,...,54.0,39.0,0.715387,0.112607,0.428204,0.000000,15.75,27.0,39.0,0
1089,Wallow,2011,wlw,wlw_47409,Test,AZ,12,660698.3581,3725248.835,1,...,54.0,39.0,1.554356,0.009801,0.187053,0.000000,15.75,27.0,39.0,0
1090,Wallow,2011,wlw,wlw_47535,Test,AZ,12,660178.3581,3725128.835,0,...,54.0,39.0,0.683425,0.001571,0.500223,0.000000,15.75,27.0,39.0,0

In [37]:
colz = [
    'Year', # year of wildfire
    'StormDate', # date of storm that produced DF
    'StormStart',
    'StormEnd',
    'years_btwn_event'
]
raw[colz]

,Year,StormDate,StormStart,StormEnd,years_btwn_event
0,2007,2008-01-22 00:00:00,2008-01-21 16:27:00,2008-01-22 19:20:00,1
1,2007,2008-01-22 00:00:00,2008-01-21 16:27:00,2008-01-22 19:20:00,1
2,2007,2008-01-22 00:00:00,2008-01-21 16:27:00,2008-01-22 19:20:00,1
3,2007,2008-01-22 00:00:00,2008-01-21 15:47:00,2008-01-22 19:39:00,1
4,2007,2008-01-22 00:00:00,2008-01-21 15:47:00,2008-01-22 19:39:00,1
...,...,...,...,...,...
1086,2011,2011-07-11 00:00:00,2011-07-11 14:45:00,2011-07-11 16:15:00,0
1087,2011,2011-07-11 00:00:00,2011-07-11 14:45:00,2011-07-11 16:15:00,0
1088,2011,2011-07-11 00:00:00,2011-07-11 14:45:00,2011-07-11 16:15:00,0
1089,2011,2011-07-11 00:00:00,2011-07-11 14:45:00,2011-07-11 16:15:00,0
1090,2011,2011-07-11 00:00:00,2011-07-11 14:45:00,2011-07-11 16:15:00,0

better would be DAYS between fire and DF

- wildfire
- storm
- DF (ask Daniel if same time as storm, we believe yes)